
## Intro to Python

This is for TLC

To create a cell above a selected cell - press 'a', to create a cell below the selected cell - press 'b'.

To run a cell press SHIFT+ENTER.

In [2]:
#this is a Python comment
print("Hello World!")

Hello World!

In [3]:
x = 8
y = 8

In [4]:
print(y)

8

An example of if statement. All the commands belonging to the if-branch must be correctly indented.

In [5]:
if x > 7:
    print("greater") 
print("martina")
print("hello")

greater
martina
hello

Use input() to read data from the user.

In [6]:
num = int(input( 'Enter a number: '))

Enter a number: 5

An example of if, else and elif

In [7]:
if num < 0:
    print(num, 'is negative')
elif num > 0:
    print(num, ' is positive')
else:
    print (num, 'is zero')

5  is positive

Using `if` in expression

In [8]:
result = -1 if num < 0 else 1
result

1

# Data Types

Everything is an object and every value has a datatype. Key native datatypes:


* boolean
* numbers - integers, flaots, fractions, complex numbers
* string
* bytes and byte arrays
* lists
* tuples
* sets
* dictionaries

# Mathematical operations

In [21]:
a = 5
b = 6
print(a+b)
print(a-b)
print(a*b)

c = a/b
print(type(c))

d = a//b # if I do not want the result as a float
print(type(d))

e= a%b
print(e)
print(type(e))

11
-1
30
<class 'float'>
<class 'int'>
5
<class 'int'>

# Strings

In [23]:
f='f'# this does not care
print(a*f)

fffff

In [10]:
A = 'Hello'
B = 'World'
C = A + " " + B
print(C)

Hello World

length of string `len()`

In [11]:
print(len(C))

11

Access character on a certain position

In [12]:
C[7]

'o'

Locate the position of the first occurence of a particular character - index()

In [15]:
C.index('o')

4

We can count occurence of a character - count()

In [13]:
C.count('l')

3

Changing the case of the characters

In [16]:
C.upper()

'HELLO WORLD'

In [17]:
C.lower()

'hello world'

Testing occurence of characters at the beginning or end

In [18]:
C.lower().endswith('rld')

True

In [24]:
C.upper().startswith('HEL')

True

#### Slicing

In [26]:
a = 'hello everyone'

In [27]:
print(a[2:6])

llo

Start and end position and the step size can be omitted

In [28]:
print(a[:7])

hello e

In [29]:
print(a[3:])

lo everyone

In [30]:
print(a[::2])

hloeeyn

2 common sliced:

* everything except the last element
* exactly the last element

In [31]:
print(a[:-1])

hello everyon

In [32]:
print(a[-1:])

e

#### Splitting Strings

In [37]:
b = "Accra is the most densely populated city in Ghana."
newb = b.split(sep=" ")
print(newb)

['Accra', 'is', 'the', 'most', 'densely', 'populated', 'city', 'in', 'Ghana.']

In [41]:
currency = "USD,GBP,JPY,EUR"
newcurrency = currency.split(sep=",")
print(newcurrency)

['USD', 'GBP', 'JPY', 'EUR']

## Collections of data
Different types available:

* **list** - mutable collection of any type
* **tuple** - an immutable collection
* **range** - immutable collection of integers
* **dictionary** - key value pairs

### Lists

In [35]:
list1 = []
print(list1)

[]

In [36]:
list2 = [2, 4, 6]
list3 = [7.89, 'martina', [1,2,3]]

Accessing elements of a list using []

In [42]:
list2[0]

2

In [43]:
list2[15]

IndexError: list index out of range

In [46]:
list3[1]
#how would you make it print out 't'?
list3[1][3]

't'

In [51]:
#Lists are mutable
list3[2] = [1,2,3,4]
print(list3)

[7.89, 'martina', [1, 2, 3, 4]]

In [49]:
print(type(list1))

<class 'list'>

In [50]:
#slicing a list
list4 = [1,2,3,4,5,6,7,8,9]
list4[-1:]

[9]

In [52]:
list4.append('hello')
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello']

In [53]:
list4.insert(0,'oi')
print(list4)

['oi', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello']

In [56]:
#deleting items
list4.pop() # prints the last element in the list and deletes it
list4.pop(0)  # prints the element in the given position list and deletes it

'oi'

In [57]:
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuples

theye are immutable and ordered

In [58]:
tuple1 = ()
print(tuple1)

()

In [62]:
#tuple with one element
tuple2 = (2)
print(type(tuple2))


tuple1 = (2,0)
print(type(tuple1))

<class 'int'>
<class 'tuple'>

In [63]:
tuple3 = (1, 5.678, 'martina')
print(tuple3)

(1, 5.678, 'martina')

In [64]:
print(tuple3[2])

martina

In [65]:
tuple4 = (1,2,4,5,6,7,8,9)
print(tuple4[4:7])

(6, 7, 8)

In [67]:
#tuple' object does not support item assignment
tuple4[1]= 'martina'

TypeError: 'tuple' object does not support item assignment

In [68]:
tuple5 = a, b, c
print(tuple5)
print(type(tuple5))

('hello everyone', 'Accra is the most densely populated city in Ghana.', 0.8333333333333334)
<class 'tuple'>

In [70]:
tuple6 = (3,3,3,3,(2,4,6))
print(tuple6)

(3, 3, 3, 3, (2, 4, 6))

### Sets

mutable, unordered, only unique elements

### Dictionaries

based on pairs of key-value

In [72]:
dict1 = {1: 'USD', 2:'EUR', 3: "JPY"}
print(dict1)

{1: 'USD', 2: 'EUR', 3: 'JPY'}

In [77]:
dict2 = {1: 'martina', 'Ghana': 'Accra', 'USA': ['Washingtopn DC','New York']}
print(dict2)

{1: 'martina', 'Ghana': 'Accra', 'USA': ['Washingtopn DC', 'New York']}

In [78]:
dict2[1]

'martina'

In [79]:
dict2['USA'][0]

'Washingtopn DC'

### Iteration

In [80]:
#over a list
print(b)

Accra is the most densely populated city in Ghana.

In [81]:
list1 = b.split()
for word in list1:
    print(word)

Accra
is
the
most
densely
populated
city
in
Ghana.

In [82]:
#over a dictionary
print(dict1)

{1: 'USD', 2: 'EUR', 3: 'JPY'}

In [86]:
#fro the dictionary, we have to use the .items

for item in dict1.items():
    print(item)

(1, 'USD')
(2, 'EUR')
(3, 'JPY')

In [85]:
for k,v in dict1.items():
    print(v)

USD
EUR
JPY

Using else with for statement

In [87]:
print('Only print code if all iterations completed')
num = int(input('Enter a number to check:'))

Only print code if all iterations completed
Enter a number to check:5

In [88]:
for i in [1,2,3,4]:
    if i == num :
        break
    print(i, ' ', end= '')
else:
    print('All iterations successful')

1  2  3  4  All iterations successful

In [89]:
#together

print('Only print code if all iterations completed')
num = int(input('Enter a number to check:'))
for i in [1,2,3,4]:
    if i == num :
        break
    print(i, ' ', end= '')
else:
    print('All iterations successful')

Only print code if all iterations completed
Enter a number to check:3
1  2

### Comprehensions

In [90]:
list1 = [1,2,4,5,76,8,0,45]
print(list1)

[1, 2, 4, 5, 76, 8, 0, 45]

In [91]:
list2 = [el + 1 for el in list1]
print(list2)

[2, 3, 5, 6, 77, 9, 1, 46]

In [92]:
#also available for tuples and ranges
first9squares = [x*x for x in range(1,10,1)]
print(first9squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Functions

In [97]:
def addition(a,b):
    print(a)
    print(b)
    return a+b
    
    #print(c)

c = addition(2,3)
print(c)

2
3
5

In [100]:
#lambda functions == anonymous functions, a function that does not have a name.
#so hide it in a variable and call the variable when needed

addition = lambda a,b:a+b
double = lambda x: x*2

res = double(4)
print(res)
print(addition(2,4))

8
6

In [114]:
from Decimal import *
Decimal(".1") + Decimal(".1") + Decimal(".1")

ModuleNotFoundError: No module named 'Decimal'

In [112]:
type(1j)

complex

In [113]:
0.1 + 0.1 + 0.1

0.30000000000000004